In [51]:
import pandas as pd

# read it
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1' )

# select rows
selected_df = df[['Area', 'Y2017']]

# sum per year
area_sums = selected_df['Y2017'].groupby(selected_df['Area']).sum()

# hihest point sum
highest_sum = area_sums.max()
highest_area = area_sums[area_sums == highest_sum].index[0]

print(f'The area with the highest sum in 2017 is {highest_area} with a total sum of {highest_sum}.')

The area with the highest sum in 2017 is Nigeria with a total sum of 1483268.23.

In [52]:
#Total number and percentage of missing data in 2014
n_sum = df['Y2014'].isnull().sum()
per = (int(n_sum)/len(df['Y2014']))* 100
print(f'sum = {n_sum}\nPercentage = {round(per, 3)}')

sum = 1589
Percentage = 2.607

In [56]:
import pandas as pd

# Load the CSV file into a Pandas DataFrame
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1' )

df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [57]:
condition = (df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')
supply = df.loc[condition, 'Y2015'].sum()
print(f'The total protien supply supply quantity in Madagascar in 2015 is : {supply}')

The total protien supply supply quantity in Madagascar in 2015 is : 173.04999999999998

In [ ]:
#year with the highest sum of stock variation
df_y = df.groupby('Element')
for x,y in df_y:
    if x == 'Stock Variation':
          print(y[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum())
          whole_df = y[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
          print('the highest value for any year is ' + str(whole_df.max()))

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
dtype: float64
the highest value for any year is 58749.83

In [ ]:

#printing the total number of unique countries 
df_u = df['Area'].unique()
print(len(df_u))

49

In [ ]:
#finding the country with the 7th lowest  sum in 2017
s_df = df[['Y2017', 'Area']]
grouped = s_df.groupby('Area')
sum_Y2017 = grouped['Y2017'].sum()
sum_Y2017 = sum_Y2017.sort_values()
print(sum_Y2017)

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
Côte d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [ ]:
#sum of processing in Y2017
df_y = df.groupby('Element')
for x,y in df_y:
    if x == 'Processing':
        print(y['Y2017'].sum())

292836.0

In [ ]:
#The sum of wine produced in 2015 and 2018
df_i = df.groupby("Item")
for x,y in df_i:
    if x == 'Wine':
        print(y[['Y2015','Y2018']].sum())

Y2015    4251.81
Y2018    4039.32
dtype: float64